<body>
 <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
		<script src="http://ricostacruz.com/jquery.transit/jquery.transit.min.js"></script>

	<puthatshit>
		<%= read(params[:site]).html_safe %>
	</puthatshit>
	<% params[:side] %>
</body>
