<body>
<script type="text/javascript">
	$(document).ready(function (){
		if (<%= escape_javascript(params[:align])%>==0)
		{
			$("puthatshit").css("position","absolute");
		}

		if (<%= escape_javascript(params[:align])%>==2)
		{
			$("puthatshit").css("position","absolute");
			$("puthatshit").css("right","0px");
		}
		
	})
</script>
	<div class="thatshit">
		<% read(params[:site]).html_safe %>
		<h1><%= @stuff.title %></h1><p>
		<%= @stuff.content.html_safe %>
	</div>
	
</body>
