<footer class="footer">
  <small>
    Move the Sh*t by Jeffrey Tong
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://jefftong.net/">Me</a></li>
    </ul>
  </nav>
</footer>